* {
  box-sizing: border-box;
}


div {
  background-color: grey;
  border: 1px solid black;
  width: 28%;
  height: 200;
  margin-right: 5%;
  padding:0;
  margin-bottom: 20px;
  position: relative;
  padding-top: 35px;
  padding-left: 10px;

}

h1 {
  margin-bottom: 30px;
  text-align: center;
  margin-top: 30px;
}

p{
  background-color: red;
  height:15%;
  width:25%;
  bottom:0;
  margin:0;
  border: 1px solid black;
  padding:3px;
  text-align: center;
  font-size: 20px;
  right:0;
  top:0;
  position: absolute;
  right: 0;
  top: 0;
}

#p1{
  background-color: #ff8093;
}

#p2{
  background-color: #ff0093;
}

#p3{
  background-color: #ff0000;
}

/********** Large devices only **********/
@media (min-width: 992px) {
  div {
    width: 28%;
    margin: 2%;
    float: left;
  }
}


/********** Small devices only **********/
@media (max-width: 767px){
  div {
    width: 98%;
    margin-left: 2%;
  }
}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
	#d1 {
    width: 45%;
    float: right;
    margin: 2%;
  }

  #d2 {
  	width: 45%;
    float: right;
    margin: 2%;

  }

  #d3{
  	width: 96%;
    clear: right;
    margin-left: 2%;
  }


